

.lp-header{
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.lp-header h2 {
  padding-top: 150px;

}

.lp-btn {
  margin-top: 75px;
  padding: 10px;
  width: 150px;
  height: 40px;
  font-size: 18px;
  text-decoration: none;
  background-color: #BABEBF;
  color: black;
  text-align: center;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #7C7F7F;
  margin-top: 75px;
  margin-bottom: 75px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 90%;
}

section {
  text-align: center;
}

.lp-section h3 {
  font-size: 30px;
}

.lp-section p {
  font-size: 20px;
}

.landing-page {
  margin-bottom: 75px;
}

.last {
  margin-bottom: 75px;
}