footer {
  background-color: #057191;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

}

footer p {
  font-size: 12px;
}

footer i {
  border: none;
  padding: 5px;
  color: #33363b;
}

.credit{
  margin-right: 10px;
}

@media (min-width: 540px){

  footer p {
    font-size: 16px;
  }
}


@media (min-width: 768px) {

  footer p {
    font-size: 20px;
  }

}