nav {
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  width: 100%;
  font-size: 15px;
  height: 60px;
  box-shadow: -1px 2px 24px -5px rgba(0,0,0,0.63);
  font-family: 'Proza Libre', sans-serif;
}

.nav-links a, .logo a {
  color: #DB755C;
  text-decoration: none;
}

.logo-img {
  height: 60px;
  filter:saturate(#057191);
}

.logo {
  display: flex;
  align-items: center;
}

.links {
  padding: 20px;
  list-style: none;
  color: black;
  font-size: 15px;
}

.nav-links {
  /* display: flex; */
  margin-right: 20px;
}

.fa-bars {
  border: none;
}

@media (min-width: 540px){

  nav {
    font-size: 18px;
  }
}

@media (min-width: 768px) {


  nav {
    font-size: 22px;
    height: 80px;
  }
  .links {
    font-size: 20px;
  }

}

@media (min-width: 960px) {

  .nav-links {
    display: flex;
  }

}

@media (min-width: 1500px) {

  nav {
    font-size: 24px;
  }

  .links {
    font-size: 20px;
  }

}