

.create-flashdeck h2 {
  text-align: center;
  padding-top: 30px;
  font-size:20px;
}

.create-form  {
  margin: 30px;
  margin-top: 30px;
}

.form-input {
  width: 250px;
  /* height: 50px; */
  border: none;
  border-bottom: 3px solid #7C7F7F;
  font-size: 16px;
}

.title, .term, .definition {
  border: none;
  width: 250px;
  font-size: 20px;
  background-color: #E5E4E5;

}

.title {
  background-color: white;
}

.add-card {
  width: 120px;
  border-bottom: 3px solid #5C5B5C;
  background-color: #E5E4E5;
  font-size: 16px;

}

.card-input-container, .remove-btn {
  border: none;
  background-color: #E5E4E5
}


.remove-btn i {
  border: none;
  color: #5C5B5C
}

.deck-item p {
  font-size: 22px;
  color: #5C5B5C;
}

.title-text {
  font-size: 16px;
}

.visibility-box {
  float: right;
}

.deck-item > div {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  background-color:#E5E4E5;
  max-width: 1200px;
}

.definition-container {
  float: right;
}

p {
  font-size: 24px;
}

.create-card-btn {

  height: 50px;
  width: 200px;
  border: none;
  font-size: 20px;
  background-color: #E5E4E5;
  float: right;
  margin-top: 40px;
  margin-bottom: 50px;
}

.delete {
  margin-right: 10px;
}

@media (min-width: 768px) {

  .create-flashdeck h2 {
    font-size:30px;
  }

  .create-form  {
    margin-top: 70px;
  }

  .form-input {
    width: 450px;
    /* height: 50px; */
    border: none;
    border-bottom: 3px solid #7C7F7F;
    font-size: 20px;
  }

  .title-text {
    font-size: 20px;
  }

  .title, .term, .definition {
    width: 450px;
    font-size: 20px;
  }

  .add-card {
    font-size: 18px;
  }

}