i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.hr1 {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #7C7F7F;
  margin-top: 75px;
  margin-bottom: 75px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 90%;
}

.vertical {
  border-left: 1px solid #7C7F7F;
  height: 25px;
  float: left;
  margin-left: 25px;
  margin-right: 25px;
  /* margin-top: 10px; */
}

.label {
  font-weight: bold;
}

.vertical2 {
  height: 55px;
}

.arrow {
  border: none;
}

.study-deck h2 {
  text-align: center;
  padding-top: 100px;
  font-size: 20px;
}

.study-deck header {
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
}

header p {
  font-size: 18px;
  color: #DB755C;
  font-family: 'Proza Libre', sans-serif;
}

.instructions {
  text-align: center;
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;
}

.card-container {
  height: 150px;
}


.card-back, .card-front {
  overflow: scroll;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 3px -4px 18px 0 rgba(0,0,0,0.2);
  margin: 30px;
  width: 70%;
  height: 150px;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fdfdfd;
  font-family: 'Proza Libre', sans-serif;

}

.icon-container {
  align-self: flex-end
}

.icon {
  /* align-self: flex-end; */
  padding-right: 10px;
  /* padding-left: 10px; */
  padding-top: 10px;
  border: none;
}


.card-front p{
  text-align: center;
  /* position: relative; */
  font-size: 20px;
  /* height: 150px; */
}

.card-back p {
  font-size: 15px;
}

.count {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
}

.quiz-button-container p {
  font-size: 18px;
}

.quiz-button-container {
  /* display: flex;
  justify-content: center; */
  margin-top: 20px;
  text-align: center;
}

.button-container p {
  font-size: 22px;
}

.take-quiz-btn {
  border: none;
  font-size: 16px;
  background-color: #BFBEBF;
  height: 40px;
  width: 150px;
  padding: 10px;
  margin-top: 10px;
}

.deck-list-header {
  /* margin-left: 20px; */
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Proza Libre', sans-serif;
  color: #DB755C;
}

.terms-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin-bottom: 300px;
}

.bottom {
  margin-top: 20px;
  margin-bottom: 50px;
}

.deck-card {
  background-color: #fdfdfd;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  font-family: 'Proza Libre', sans-serif;

}

.deck-card p {
  font-size: 15px;
}

.card-number {
  align-self: flex-start;
}

.card-list-vertical {
  display: none;
}

.edit-btn {
  width: 200px;
  height: 45px;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 30px;
  border: none;
  background-color: #1093B3;
  color: #f5f5f5;
  font-family: 'Proza Libre', sans-serif;

}

.edit-btn:hover {
  background-color: #0681A8;
}

.button-container {
  text-align: center;
}


.slick-prev {
  left: 3%;
  z-index: 1;
  border: none;
  position: absolute;

}

.slick-prev:before, .slick-next:before {
  color:#1093B3;
  font-size: 30px;
}


.slick-next {
  right: 6%;
  z-index: 1;
  border: none;
  position: absolute;
}


@media (min-width: 768px) {

  .label {
    display: none;
  }

  .slick-prev {
    left: 9%;
    z-index: 1;
    border: none;
    position: absolute;

  }

  .slick-prev:before, .slick-next:before {
    font-size: 40px;
  }


  .slick-next {
    right: 11.5%;
    z-index: 1;
    border: none;
    position: absolute;
  }

  .study-deck h2 {
    font-size: 30px;
  }

  .study-deck header {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
  }

  header p {
    font-size: 22px;
  }

  .instructions {
    font-size: 22px;
  }

  .card-front, .card-back {
    height: 400px;
    }

  .card-front p{
    /* padding-top: 55px; */
    font-size: 50px;
    /* height: 350px; */
  }

  .card-back p {
    font-size: 24px;
    text-align: center;
  }

  .count, .quiz-button-container p {
    font-size: 24px;
  }

  .take-quiz-btn {
    font-size: 20px;
    margin-top: 0;
  }

  .deck-list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-flow: column; */
    margin-left: 10%;
    margin-right: 10%;

  }

  /* .deck-list-header input {
    align-self: unset;
  } */

  .deck-card {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: center;
    margin-right: 15%;
    margin-left: 15%;

  }
  .card-list-vertical {
    display: block;
    height: 40px;
  }
  .deck-card p {
    font-size: 18px;
  }

  .term-container {
    margin-left: 15px;
    margin-right: 15px;
  }

  .card-number {
  margin-left: 15px;
  margin-right: 15px;
  align-self: unset;
  }

  .card-container {
    height: 400px
  }

  .card {
    height: 100%
  }

  .edit-btn {
    width: 25%;
    height: 55px;
    font-size: 18px;
    margin-top: 25px;
  }
}



