.button-container button {
  /* margin-top: 75px; */
  /* padding-top: 20px; */
  width: 50%;
  height: 55px;
  font-size: 16px;
  border: none;
  background-color: #E5E4E5;
  /* padding-bottom: 20px; */
  /* margin-bottom: 20px; */
}

.dashboard-btn {
  width: 50%;
  height: 55px;
  font-size: 16px;
  margin-top: 25px;
  border: none;
  background-color: #E5E4E5
}

.hr1 {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #7C7F7F;
  margin-top: 75px;
  margin-bottom: 75px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 90%;
}

.hr2 {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #7C7F7F;
  /* margin-top: 75px;
  margin-bottom: 75px; */
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 100%;
  margin-bottom: 0;
}


.vertical {
  border-left: 1px solid #7C7F7F;
  height: 25px;
  float: left;
  margin-left: 25px;
  margin-right: 25px;
  /* margin-top: 10px; */
}

.vertical2 {
  height: 25px;
}

.summary-item {
  font-size: 15px;
}

.topic {
  font-size: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

/* .container {
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  grid-gap: 15px;
  align-content: center;
} */


.flashdeck-summary-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color:#E5E4E5;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 5px;
  width: 475px;
  height: 175px;
  margin: 30px;
}

h2 {
  text-align: center;
  padding-top: 30px;
  font-size: 30px;
}

.button-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.dashboard-btn-container {
  text-align: center;
}

@media (min-width: 768px) {
  .flashdeck-summary-container {
    height: 250px;
  }

  .topic {
    margin-top: 0px;
    font-size: 30px;
  }

  .vertical2 {
    height: 55px;
  }

  .summary-item {
    font-size: 18px;
  }

  .break {
    flex-basis: 100%;
    width: 0px;
    height: 0px;
    overflow: hidden;
    display: inline-block;
  }

}