
.modal-login, .modal-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  /* border-radius: 5px; */
  max-width: 80%;
  margin: 0 auto;
  height: 400px;
  background-color: #f5f5f5;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.modal-signup {
  height: 415px;
}

.sign-in, .signup-form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.signup-form h3, .sign-in h3{
  margin: 20px;
  font-family: 'Proza Libre', sans-serif;
}


.modal-container {
  margin-top: 25%;
}

.x-out {
  position: absolute;
  top: 7px;
  right: 7px;
  text-decoration: none;
  color: rgb(56, 53, 53);
  font-size: 14px;
  font-family: 'Proza Libre', sans-serif;
}
.sign-in button, .signup-form button {
  margin-top: 10px;
  padding: 5px;
  width: 150px;
  font-size: 16px;
  font-family: 'Proza Libre', sans-serif;
  border: none;
  background-color: #DB755C;
  color: #f5f5f5;
}

.sign-in p, .signup-form p {
  font-size: 10px;
  /* padding-top: 10px; */
  text-align: center;
  font-family: 'Proza Libre', sans-serif;
}

.sign-in p {
  padding-top: 10px;
}

.sign-in-up-input {
  background-color: #f5f5f5;
  border: none;
  font-size: 14px;

}

.sign-in div.form-input, .signup-form div.form-input {
  width: 200px;
  margin-top: 10px;
}

@media (min-width: 540px) {

  .sign-up-form h3{
    margin: 20px;
  }

  .sign-in-up-input {
    font-size: 18px;
  }

  .sign-in div.form-input, .signup-form div.form-input {
    width: 250px;
    margin-top: 20px;
  }

  .modal-signup {
    height: 500px;
  }

}

@media (min-width: 768px) {

  .modal-container {
    margin-top: 20%;
  }

  .modal-login, .modal-signup {
    max-width: 450px;
  }

  .sign-in div.form-input {
    width: 300px;
  }

  .signup-form div.form-input {
    width: 300px;
  }

  .signup-form input {
    width: 250px;
    height: 25px;
    margin-bottom: 5px;
  }

  .sign-in-up-input {
    font-size: 20px;
  }

  .modal-signup {
    height: 600px;
  }

  .x-out {
    top: 8px;
    right: 8px;
    font-size: 18px;
  }

  .signup-form h3, .sign-in h3{
    margin: 22px;
    font-size: 22px;
  }

  .signup-form button, .sign-in button {
    font-size: 20px;
    margin-top: 10px;
    width: 200px;
  }

  .sign-in p, .signup-form p {
    font-size: 18px;
  }
}

