.modal-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  max-width: 450px;
  margin: 0 auto;
  height: 600px;
  background-color: #ccc;
  position: relative;
}

.signup-form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.signup-form label {
  padding: 5px;
}

.signup-form input {
  width: 250px;
  height: 30px;
  margin-bottom: 5px;
}

.modal-container {
  margin-top: 15%;
}

.x-out {
  position: absolute;
  top: 2px;
  right: 8px;
  text-decoration: none;
  color: rgb(56, 53, 53)
}

.signup-form button {
  margin-top: 25px;
  padding: 5px;
  width: 150px;
  font-size: 16px;
}

.signup-form p {
  font-size: 14px;
  padding-top: 10px;
}
