
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  max-width: 450px;
  margin: 0 auto;
  height: 400px;
  background-color: #ccc;
  ;
  position: relative;
}

form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

label {
  padding: 5px;
}

input {
  width: 250px;
  height: 30px;
}

.modal-container {
  margin-top: 15%;
}

form a {
  position: absolute;
  top: 2px;
  right: 8px;
  text-decoration: none;
  color: rgb(56, 53, 53)
}

button {
  margin-top: 25px;
  padding: 5px;
  width: 150px;
  font-size: 16px;
}